.logo {
    height: 100px;
    width: 100px;
}

.nav-items {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.nav-items>ul {
    display: flex;
    justify-content: end;
}

.nav-items>ul>li {
    margin: 15px;
    list-style-type: none;
    padding: 0 15px;
}

.res-card {
    width: 180px;
    padding: 10px;
    background-color: beige;
    margin: 10px;
    cursor: pointer;
}

.res-card:hover {
    border: 1px solid gray;
}

.res-logo {
    width: 100%;
    height: 160px;
}

.filter-btn {
    margin: 20px 0;
    display: flex;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

h5 {
    margin: 8px 0;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 180px;
    height: 300px;
    padding: 10px;
    background-color: lightgray;
    margin: 10px;
}

.login-btn {
    margin-right: 10px;
    width: 70px;
    height: 40px;
}

.search-div {
    margin-right: 20px;
}